/* Logo Font Import */
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
/* Navbar Items Font Import */
@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Telex&display=swap');

/* Navbar Container */
.container {
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
    height: 60px;
}

/* Logo Navbar Item */
.logoFont{
    font-family: 'Lemon', cursive;
    font-size: 40px;
    color: rgb(230, 57, 51);
    display: inline;
    padding: 10px;
}

/* Navbar Items */
.link {
    font-family: 'Telex', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(68, 68, 68);
    display: inline;
    padding: 10px;
}

/* Navbar Items On Hover */
.link:hover {
    color: rgb(134, 134, 134);
    font-size: 21px;
    border-bottom: solid rgb(218, 218, 218) 2px;
}

/* Navbar Items */
.linkIcon {
    display: inline;
    padding: 10px;
    float: right;
}